<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title th:text="${event.getName()}"></title>
        <link rel="icon" th:href="@{/images/minty.png}" type="image/x-icon">
        <!-- Bootstrap icons-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <script
                src="https://kit.fontawesome.com/ed23f4033a.js"
                crossorigin="anonymous"
        ></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/bootstrap/css/styles.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand">Minty</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    th:href="@{/}"
                            >Home</a
                            >
                        </li>
                        <li
                                class="nav-item"
                                sec:authorize="hasAuthority('ADMIN')"
                        >
                            <a class="nav-link" th:href="@{/adminpanel}"
                            >Admin panel</a
                            >
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a
                                th:href="@{/profile}"
                                class="btn btn-outline-dark mx-1"
                                type="submit"
                                sec:authorize="isAuthenticated()"
                        >
                            <i class="bi bi-person-fill"></i>
                            Profile
                        </a>
                        <a
                                th:href="@{/logout}"
                                class="btn btn-outline-dark mx-1"
                                type="submit"
                                sec:authorize="isAuthenticated()"
                        >
                            <i class="bi bi-box-arrow-left"></i>
                            Logout
                        </a>
                        <a
                                th:href="@{/login}"
                                class="btn btn-outline-dark"
                                type="submit"
                                sec:authorize="isAnonymous()"
                        >
                            <i class="bi bi-box-arrow-in-right"></i>
                            Sign in
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Minty</h1>
                    <p class="lead fw-normal text-white-50 mb-0">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloribus et animi porro ea cumque, dolore quas dolores
                        veritatis illum impedit distinctio minus itaque!
                        Ducimus, debitis! Quo eos cum eveniet magni?
                    </p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="m-3">
            <div class="container">
              <div class="card p-4 border-0">
                <div class="row ">
                  <div class="col-md-4">
                      <img th:src="${event.getImgUrl()}" class="w-100 rounded">
                    </div>
                    <div class="col-md-8 px-3 border-top-0">
                      <div class="card-block px-3">
                        <h4 class="card-title text-dark" th:text="${event.getName()}"></h4>
                        <p class="card-text text-dark" th:text="${'Location:' + location.getName()}"></p>
                        <p class="card-text text-dark" th:text="${'Date: ' + event.getDate().toString().substring(0, 10)}"></p>
                        <p class="card-text text-dark" th:text="${'Description: ' + event.getDescription()}"></p>
                        <div class="d-flex">
                            <p class="card-text text-dark" th:text="${'Category: ' + category.getName() + '&nbsp;'}"></p>
                            <i class="fa-solid" th:classappend="${category.getIcon()}"></i>
                        </div>
                      </div>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mt-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body" th:if="${comments.size() == 0}">
                            <h4 class="card-title">There's no comments on this event.</h4>
                        </div>
                    <div class="card-body" th:if="${comments.size() != 0}">
                        <h4 class="card-title">Latest Comments</h4>
                    </div>
                    <div class="comment-widgets"  th:if="${comments.size() != 0}">
                        <!-- Comment Row -->
                        <div class="d-flex flex-row comment-row mt-3" th:each="comment: ${comments}">
                            <div class="p-2"><img src="https://i.imgur.com/Ur43esv.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div class="comment-text w-100">
                                <span class="d-flex flex-nowrap">
                                    <h6 class="font-medium" th:text="${comment.getUser().getFullName()}"></h6>
                                    &nbsp;&nbsp;&nbsp;
                                    <small><span class="text-muted float-right" th:text="${comment.getDate().toString().substring(0, 16)}"></span></small>
                                </span>
                                <span class="m-b-15 d-block" th:text="${comment.getContent()}"></span>
                                <small><p class="text-danger" th:if="${comment.getUser().getIsBanned() == 1}">User is banned.</p></small>
                                <div class="comment-footer col-6" th:if="${(comment.getUser().getIsBanned() == 0) && (comment.getUser().getEmail() != adminEmail)}">
                                    <form method="post" th:action="@{'/banuser/' + ${comment.getUser().getEmail()}}" sec:authorize="hasAuthority('ADMIN')">
                                        <button class="btn btn-danger btn-sm" type="submit">Ban user</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <form class="m-3" sec:authorize="!isAnonymous()" method="post" th:action="@{'/addcomment/' + ${event.getId()}}" th:object="${comment}">
                <div class="form-group">
                  <label for="inputComment" class="mb-2">Add comment</label>
                  <input type="text" class="form-control w-50" id="inputComment" placeholder="Enter yout comment" name="content">
                </div>
                <button type="submit" class="btn btn-dark mt-3">Submit</button>
              </form>

          </section>
        <!-- End of card -->
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; Minty 2022
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/bootstrap/js/scripts.js"></script>
    </body>
</html>
