<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="./bootstrap/fonts/icomoon/style.css" />

        <link rel="stylesheet" href="./bootstrap/css/owl.carousel.min.css" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />

        <!-- Style -->
        <link rel="stylesheet" href="./bootstrap/css/style.css" />

        <title>Login</title>
        <link rel="icon" th:href="@{/images/minty.png}" type="image/x-icon">
    </head>
    <body>
        <div class="d-md-flex half">
            <div
                class="bg"
                style="background-image: url('./bootstrap/images/bg_1.jpg')"
            ></div>
            <div class="contents">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6">
                            <div class="form-block mx-auto">
                                <div class="text-center mb-5">
                                    <h3>Login to <strong>Minty</strong></h3>
                                    <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
                                </div>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group first">
                                        <label for="username">Username</label>
                                        <input
                                            type="text"
                                            class="form-control"
                                            placeholder="example@gmail.com"
                                            name="username"
                                            required
                                        />
                                    </div>
                                    <div class="form-group last mb-3">
                                        <label for="password">Password</label>
                                        <input
                                            type="password"
                                            class="form-control"
                                            placeholder="********"
                                            name="password"
                                            required
                                        />
                                    </div>
                                    <p>
                                        Don't have an account ?
                                        <a
                                            th:href="@{/registration}"
                                            class="text-dark"
                                            >Sign up</a
                                        >
                                    </p>
                                    <input
                                        type="submit"
                                        value="Log In"
                                        class="btn btn-block btn-dark"
                                    />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="./bootstrap/js/jquery-3.3.1.min.js"></script>
        <script src="./bootstrap/js/popper.min.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
        <script src="./bootstrap/js/main.js"></script>
    </body>
</html>
