<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title th:text="${user.getFullName()}"></title>
        <link rel="icon" th:href="@{/images/minty.png}" type="image/x-icon">
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
            rel="stylesheet"
        />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
        <link href="./bootstrap/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand">Minty</a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    aria-current="page"
                                    th:href="@{/}"
                            >Home</a
                            >
                        </li>
                        <li
                                class="nav-item"
                                sec:authorize="hasAuthority('ADMIN')"
                        >
                            <a class="nav-link" th:href="@{/adminpanel}"
                            >Admin panel</a
                            >
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a
                                th:href="@{/profile}"
                                class="btn btn-outline-dark mx-1"
                                type="submit"
                                sec:authorize="isAuthenticated()"
                        >
                            <i class="bi bi-person-fill"></i>
                            Profile
                        </a>
                        <a
                                th:href="@{/logout}"
                                class="btn btn-outline-dark mx-1"
                                type="submit"
                                sec:authorize="isAuthenticated()"
                        >
                            <i class="bi bi-box-arrow-left"></i>
                            Logout
                        </a>
                        <a
                                th:href="@{/login}"
                                class="btn btn-outline-dark"
                                type="submit"
                                sec:authorize="isAnonymous()"
                        >
                            <i class="bi bi-box-arrow-in-right"></i>
                            Sign in
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container bootstrap snippets bootdey my-3">
            <div class="panel-body inf-content">
                <div class="row">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img
                            alt=""
                            style="width: 50%"
                            title=""
                            class="img-circle img-thumbnail isTooltip"
                            src="https://bootdey.com/img/Content/avatar/avatar7.png"
                            data-original-title="Usuario"
                        />
                    </div>
                    <div class="col-md-6 p-1">
                        <strong>About</strong><br />
                        <div class="table-responsive">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span
                                                    class="glyphicon glyphicon-user text-primary"
                                                ></span>
                                                Name:
                                            </strong>
                                        </td>
                                        <td>
                                            <span
                                                th:text="${user.firstName}"
                                                class="text-dark"
                                            ></span
                                            >&nbsp;<span
                                                th:text="${user.lastName}"
                                                class="text-dark"
                                            ></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <strong>
                                                <span
                                                    class="glyphicon glyphicon-cloud text-primary"
                                                ></span>
                                                Email
                                            </strong>
                                        </td>
                                        <td
                                            th:text="${user.email}"
                                            class="text-dark"
                                        ></td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <strong>
                                                <span
                                                    class="glyphicon glyphicon-bookmark text-primary"
                                                ></span>
                                                Role
                                            </strong>
                                        </td>
                                        <td
                                            th:if="${user.roleId} == 0"
                                            th:text="User"
                                            class="text-dark"
                                        ></td>
                                        <td
                                            th:if="${user.roleId} == 1"
                                            th:text="Administrator"
                                            class="text-dark"
                                        ></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark fixed-bottom">
            <div class="container">
                <p class="m-0 text-center text-white">
                    Copyright &copy; Minty 2022
                </p>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
        <script src="./bootstrap/js/jquery-3.3.1.min.js"></script>
        <!-- Core theme JS-->
        <script src="./bootstrap/js/scripts.js"></script>
    </body>
</html>
